[Unit]
 Description=Automation Web Server Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/Python/AutomationWebServerCode/automationwebserver.py /home/pi/automationwebserver.ini

 [Install]
 WantedBy=multi-user.target